.memo-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
  text-align: center;
}

.memo-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: white;
  background: #E1E8EB;
}

/* .memo-item a:hover,
.memo-item a:active {
  background: #ffd900;
} */

.memo-item__content {
  padding: 1rem;
}

.memo-item__image {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem auto 2rem auto;
}

.memo-item__info h2 {
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
  font-weight: normal;
  color: rgb(0, 136, 169);
}

/* .memo-item:hover h2,
.memo-item:active h2,
.memo-item:hover h3,
.memo-item:active h3 {
  color: #292929;
} */

.memo-item__info h3 {
  margin: 0;
}

.spread-hor{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spread-hor a{
  all: initial;
}

.spread-hor a i{
  font-size: 2rem;
  color: rgb(0, 136, 169);
  margin:1rem;
}

.spread-hor a i:hover{
  cursor: pointer;
  color: #292929
}
